[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
autopep8 = "*"
black = "*"
isort = {extras = ["pipfile", "requirements"],version = "*"}

[packages]
django = "*"
requests = "*"
psycopg2 = "*"
django-extensions = "*"
pillow = "*"
coverage = "*"
selenium = "*"
django-crispy-forms = "*"
flake8 = "*"
django-friendship = "*"
gunicorn = "*"
sentry-sdk = "*"
tchappui-webdrivers = "0.2.0"

[pipenv]
allow_prereleases = true
