[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"

[packages]
django = "*"
requests = "*"
psycopg2 = "*"
django-extensions = "*"
pillow = "*"
coverage = "*"
selenium = "*"
django-crispy-forms = "*"

[requires]
python_version = "3.7"
