{% extends "base.html" %}


{% block content %}

<section class="page-section" id="collection">
    <div class="container">
        <div class="text-center">
            <h3 class="textcustom text-muted">Recherches les figurines de ta collection via le nom d'une figurine.</h3>
            <br>
            <form action="{% url 'figurines:search' %}#search" method="get">
                <div>
                <input type="search" id="collection_user" class="collection_user" name="q">
                <br>
                <br>
                <button class="btn btn-primary text-uppercase js-scroll-trigger textcolorcustom">Rechercher</button>
                </div>
            </form>
            <br>
            <form action="{% url 'figurines:search' %}#search" method="get">
                <div>
                <input type="hidden" value="all" id="collection_user" class="collection_user" name="all">
                <button class="btn btn-primary text-uppercase js-scroll-trigger textcolorcustom">Voir la collection complète</button>
                </div>
            </form>
            <br>
            <a class="btn btn-primary text-uppercase js-scroll-trigger textcolorcustom" id="id-addfigurine" href="{% url 'figurines:add_figurine' %}#addfigurine">Ajouter une figurine à la collection</a>
        </div>
    </div>
</section>
{% endblock content %}