{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<section class="page-section" id="contact">
    <div class="container">
        <div class="text-center">
            <h3 class="section-heading text-uppercase">Tu cherche une figurine ? alors poste une annonce !</h3>
        </div>
        <br>
        <form method="post" id="contactForm" name="sentMessage" novalidate="novalidate">
            {% csrf_token %}
            <div class="row align-items-stretch mb-5">
                <div class="col-md-6">
                    <div class="form-group">
                        {{ form.title }}
                        {{ form.title.errors }}
                        <p class="help-block text-danger"></p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group form-group-textarea mb-md-0">
                        {{ form.text }}
                        {{ form.text.errors }}
                        <p class="help-block text-danger"></p>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <div id="success"></div>
                <button class="btn btn-primary btn-xl text-uppercase textcolorcustom" id="sendMessageButton" type="submit">Valider</button>
            </div>
        </form>
    </div>
  </section>
{% endblock content %}