{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<h2>Tu cherche une figurine ? alors poste une annonces !</h2>

<section>
    <a href="{% url 'figurines:create_question' %}"><button>Ajouter une annonce</button></a>
    <ul>
        {% for question in questions %}
        <li>
            {{ question.author }} - {{ question.date }}
            <br>
            {{ question.title }}
            <br>
            {{ question.text }}
            <br>
        </li>
        <br>
        {% endfor %}
    </ul>
</section>
{% endblock content %}