{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<section class="page-section" id="didyousee">
    <div class="container">
        <div class="text-center">
            <h3 class="section-subheading">Tu cherche une figurine ? alors poste une annonces !</h3>
            <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="{% url 'figurines:create_question' %}">Ajouter une annonce</a>
        </div>
        <br>
        <ul class="timeline">
            {% for question in questions %}
            <li>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        {{ question.author }} - {{ question.date }}
                    </div>
                    <div class="timeline-body"><h4><a href="{% url 'figurines:post_detail' id_post=question.id %}#post_detail">{{question.title }}</a></h4></div>
                    <div class="timeline-body"><p class="text-muted">{{ question.text }}</p></div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</section>
{% endblock content %}
