{% extends "base.html" %}


{% block content %}
{% load static %}
{% get_media_prefix as MEDIA_PREFIX %}

{% if figurines_list %}
<div class="container-fluid img-f">
    {% for figurine in figurines_list %}
    <img src="{{ MEDIA_PREFIX }}{{ figurine.picture_figurine }}" alt="Image du produit" height="352">
    <p>Catégorie de la figurine: {{ figurine.category }}</p>
    <p>Nom de la figurine: {{ figurine.name }}</p>
    <p>Numéro de la figurine: {{ figurine.figurine_number }}</p>
    <form action="{% url 'figurines:delete_figurine' %}" method="POST">{% csrf_token %}<button
        type="submit">Supprimer</button>
    <input type="hidden" id="id_figurine" name="id_figurine" value="{{ figurine.pk }}">
    </form>
    {% endfor %}
    {% else %}
        <h2 class="text-center mt-0 font-custom-title">
            Pas de résultat.
        </h2>
    {% endif %}
</div>
{% endblock content %}