{% extends "base.html" %}

{% block content %}


<div class="container">
    <br>
    <div class="text-center" id="friends-list">
        <h3 class="textcustom text-muted">Recherche un amis via sont pseudo .</h3>
        <div class="container">
            <form action="{% url 'users:add_friend' %}" method="POST">
                {% csrf_token %}
                <input type="search" id="collection_user" class="collection_user" name="username"
                    placeholder="Entre un pseudo">
                <br>
                <br>
                <button class="btn btn-primary text-uppercase js-scroll-trigger textcolorcustom" id="search-friend">Rechercher</button>
            </form>
            {% if user_not_found %}
                {{ user_not_found }}
            {% endif %}
        </div>
    </div>
    <br>
    <div class="container box-shadow">
        <div>
            <br>
            <h2>Liste d'amis :</h2>
        </div>
        <br>
        {% for friend in friends %}
        <div class="row">
            <div class="col text-center">
                <p><a class="textcustom textcolorcustom" href="{% url 'users:friends_figurine' %}#collection-friends">{{ friend.username }}</a></p>
            </div>
            <div class="col text-center">
                <form action="{% url 'users:remove_friend' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" id="other_user_id" name="other_user_id" value="{{ friend.id }}">
                    <button class="button-del" type="submit"><i class="fa fa-times" aria-hidden="true"></i></button>
                </form>
            </div>
        </div>
        {% endfor %}

    </div>
</div>

<br>
<div class="container">
    <div>
        <br>
        <h2>Demandes d'amis :</h2>
    </div>
    <hr max-width="700px" color="#29A4FE">
    <br>

    {% for friend in friend_request_pending %}
    <div class="row">
        <div class="col text-center">
            <p class="textcustom">{{ friend }}</p>
        </div>
        <div class="col text-center">
            <form name="friend_request" action="{% url 'users:accept_request' %}" method="post">
                {% csrf_token %}
                <input type="hidden" id="other_user_id" name="other_user_id" value="{{ friend.id }}">
                <input class="btn btn-primary text-uppercase js-scroll-trigger textcolorcustom" type="submit"
                    name="accept" id="accept" value="Valider" onclick="acceptFunction()">
                <input class="btn btn-primary text-uppercase js-scroll-trigger textcolorcustom"
                    style="background-color: #DE2F2F;" type="submit" name="reject" id="reject" value="Refuser"
                    onclick="rejectFunction()">
                <input type="hidden" id="user_choice" name="user_choice" value="">
            </form>
            <script>
                function acceptFunction() {
                    document.friend_request.user_choice.value = "Accepted";
                }
                function rejectFunction() {
                    document.friend_request.user_choice.value = "Rejected";
                }
            </script>
            <br>
        </div>
    </div>
    {% endfor %}

</div>
</div>

{% endblock content %}