{% extends "base.html" %}

{% block content %}

<section class="page-section" id="contact-us">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Nous contacter :</h2>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
                <h3 class="textcustom">Parce que votre avis est essentiel et que votre satisfaction nous tient à coeur, nous serons ravis de vous répondre .</h3>
                <a class="text-muted" href="mailto:contact@collectionpop.fr" style="color:black">contact@collectionpop.fr</a>
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>
</section>

{% endblock content %}