{% extends "base.html" %}
{% block content %}
    <div class="container" id="who-are-we">
        <br>
        <div class="text-center">
            <h2 class="section-heading">Qui sommes-nous :</h2>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
                <h3 class="textcustom">Collectionpop.fr à été crée pour la communauté des collectionneurs de figurines Pop, 
                                        afin de faciliter la répertorisation de leurs figurines. 
                </h3>
                <h3 class="textcustom">Fini le 'Est-ce que j’ai cette figurine ?', 'Mon ami a t-il cette figurine ?', 
                                        réponse sur collectionpop.fr en quelques secondes.
                </h3>
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>
{% endblock content %}
